.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('MED2.jpg'); /* Replace 'path/to/your/background-image.jpg' with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-box input:focus {
  outline: none;
  border-color: #007bff;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 20px;
  text-align: center;
}

.register-link p {
  font-size: 14px;
}

.glassmorphic-failed {
  margin-top: 20px;
  padding: 10px;
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  color: #ff0000;
  text-align: center;
}