.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('med4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
}

.form-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-box input:focus {
  outline: none;
  border-color: #007bff;
}

.input-box i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

.button {
  text-align: center;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.group {
  margin-top: 20px;
  text-align: center;
}

.group span a {
  text-decoration: none;
  color: #007bff;
}

.group span a:hover {
  text-decoration: underline;
}